<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" type="{{site.favicon.type}}" href="{{site.favicon.href}}" />

	{% seo %}

	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/default.css' | relative_url }}">
	<style type="text/css">{{page.stylesheet}}</style>

</head>
<body>
	<div class="wrapper">

		<section>
			<div id="title">
				<h1>
					{% if page.title %}
						<span class="siteTitle">{{site.title}}</span><br>
						<span class="pageTitle"></span>{{page.title}}
					{% else %}
						{{site.title}}
					{% endif %}
				</h1>
				<hr>
			</div>

			{{ content }}

		</section>

	</div>
</body>
</html>
